/* font-family: 'Open Sans', sans-serif */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 10px;
}

/* HEADER */

.header {
  padding: 50px 0;
  background-color: #1a1a1a;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content > img {
  height: 33px;
  align-self: center;
}

.feedback {
  width: 230px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e4b564;
  text-decoration: none;
}

.feedback-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 25px;
}

.feedback-content > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}

/* MAIN */

/* SECTION "jobs" */

.jobs {
  padding: 96px 0;
  color: #ffffff;
  background: url(../img/header-bg.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jobs-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-bottom: 40px;
}

.jobs-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
  max-width: 1180px;
}

.jobs-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 27px;
}

.jobs-grid div:nth-child(1) {
  grid-column: 1 / 3;
  background-color: #634f2c;
}

.jobs-grid div:nth-child(2) {
  grid-column: 3 / 5;
  background-color: #b4a385;
}

.jobs-grid div:nth-child(3) {
  grid-column: 5 / 7;
  background-color: #e4b564;
}

.jobs-grid div:nth-child(4) {
  grid-column: 1 / 4;
  background-color: #635a4a;
}

.jobs-grid div:nth-child(5) {
  grid-column: 4 / 7;
  background-color: #b08c4d;
}

.item-jobs-grid {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding: 220px 5px;
  cursor: pointer;
}

/* SECTION "cars" */

.cars {
  padding: 90px 0;
  color: #ffffff;
  background-color: #1a1a1a;
}

.cars-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-bottom: 95px;
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, auto);
  grid-gap: 30px;
}

.item-cars-grid {
  font-size: 20px;
  line-height: 25px;
  padding: 45px 50px;
}

.modelcar-item-cars-grid {
  font-weight: 700;
}

.cars-grid div:nth-child(1) {
  height: 313px;
  grid-row: 1 / 5;
  background-color: #0e0e0e;
}
.cars-grid div:nth-child(2) {
  grid-row: 1 / 7;
  background-color: #242424;
}
.cars-grid div:nth-child(3) {
  height: 255px;
  grid-row: 1 / 4;
  background-color: #1f1f1f;
}
.cars-grid div:nth-child(4) {
  height: 560px;
  grid-row: 5 / 13;
  background-color: #1f1f1f;
}
.cars-grid div:nth-child(5) {
  font-weight: 500;
  grid-row: 7 / 13;
  background-color: #e4b564;
  color: #000;
}
.cars-grid div:nth-child(6) {
  grid-row: 4 / 9;
  background-color: #0e0e0e;
}
.cars-grid div:nth-child(7) {
  grid-row: 9 / 13;
  background-color: #0a0909;
}

/* FOOTER */

.footer {
  padding: 170px 0 100px;
  background: url(../img/parallax-bg.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.footer-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.footer-btn {
  color: #e4b564;
  background-color: transparent;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px;
  border: 1px solid #e4b564;
  cursor: pointer;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 391px);
  text-align: center;
}

.item-footer-grid {
  padding: 170px 0;
}

.footer-grid div:nth-child(1) {
  background-color: #634f2c;
}
.footer-grid div:nth-child(2) {
  background-color: rgba(232, 210, 171, 0.76);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-grid div:nth-child(2) > p {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  margin-top: 16px;
  padding: 0 80px;
}
.footer-grid div:nth-child(3) {
  background-color: #e4b564;
}
.footer-grid div:nth-child(4) {
  background-color: #635a4a;
}
.footer-grid div:nth-child(5) {
  background-color: #b08c4d;
}
.footer-grid div:nth-child(6) {
  background-color: #634f2c;
}

.part-of-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
